---
import industriesJson from "@data/industries.json";
import { Icon } from "astro-icon";
---

<industry-section>
  <!-- Header -->
  <header
    class="flex justify-between items-center max-w-7xl mx-auto px-4 lg:px-8"
  >
    <h1 class="text-5xl">Industry</h1>
    <div class="flex items-center divide-x">
      <button id="prev-btn" class="px-2">
        <Icon
          name="mdi:chevron-left"
          class="h-8 w-8 transition hover:text-primary"
        />
      </button>
      <button id="next-btn" class="px-2">
        <Icon
          name="mdi:chevron-right"
          class="h-8 w-8 transition hover:text-primary"
        />
      </button>
    </div>
  </header>

  <!-- Container -->
  <section class="swiper max-w-7xl mx-auto px-4 mt-6">
    <!-- Carousel -->
    <ul id="carousel" class="pb-16 flex overflow-hidden">
      {
        industriesJson.contents.map((item) => {
          return (
            <li class="slides flex-shrink-0 w-1/4 p-4">
              <figure class="relative group">
                <div class="bg-white py-16 w-full h-56 px-8">
                  <a
                    href={`/industries/${item.slug}`}
                    class="absolute w-full left-0 top-0 h-full z-[1]"
                  />
                  <img
                    src={item.image}
                    alt={item.name}
                    class="duration-500 w-full h-full object-contain group-hover:opacity-0"
                  />
                </div>
                <figcaption class="duration-500 absolute w-full h-fit left-0 bottom-0 translate-y-full pointer-events-none group-hover:pointer-events-auto group-hover:bottom-1/2 group-hover:translate-y-1/2">
                  <p class="text-center duration-500 text-xl tracking-widest px-8 group-hover:tracking-[0.5rem]">
                    <span class="transition group-hover:text-primary">
                      {item.name}
                    </span>
                  </p>
                </figcaption>
              </figure>
            </li>
          );
        })
      }
    </ul>
  </section>

  <!-- Action button -->
  <a
    href="/industries"
    class="block w-fit py-4 px-6 mx-auto text-xl bg-primary"
  >
    View More Industries &gt;
  </a>
</industry-section>

<script>
  class IndustrySection extends HTMLElement {
    constructor() {
      super();

      const carousel = this.querySelector<HTMLElement>("#carousel")!;
      const prevBtn = this.querySelector("#prev-btn")!;
      const nextBtn = this.querySelector("#next-btn")!;
      const slides = this.querySelectorAll<HTMLElement>(".slides")!;

      const slideWidth = slides[0].offsetWidth;
      let isDragged = false;
      let prevX = 0;
      let prevScrollLeft = 0;
      let autoScroll: any;

      prevBtn.addEventListener("click", () => {
        nextSlide(false);
        resetAutoScroll();
      });

      nextBtn.addEventListener("click", () => {
        nextSlide();
        resetAutoScroll();
      });

      carousel.addEventListener("mousedown", (e) => {
        dragStart(e);
      });

      carousel.addEventListener("mouseup", () => {
        dragStop();
      });

      carousel.addEventListener("mouseleave", () => {
        dragStop();
      });

      carousel.addEventListener("mousemove", (e) => {
        if (!isDragged) return;
        e.preventDefault();
        const x = e.pageX;
        const walk = (x - prevX) * 2;
        carousel.scrollLeft = prevScrollLeft - walk;
      });

      carousel.addEventListener("touchstart", (e) => {
        dragStart(e.touches[0]);
      });

      carousel.addEventListener("touchend", () => {
        dragStop();
      });

      carousel.addEventListener("touchmove", (e) => {
        if (!isDragged) return;
        e.preventDefault();
        const x = e.touches[0].pageX;
        const walk = (x - prevX) * 2;
        carousel.scrollLeft = prevScrollLeft - walk;
      });

      function dragStart(e: any) {
        isDragged = true;
        prevX = e.pageX;
        prevScrollLeft = carousel.scrollLeft;
      }

      function dragStop() {
        isDragged = false;
        autoAlignSlide();
        resetAutoScroll();
      }

      function nextSlide(move: boolean = true) {
        if (
          carousel.scrollLeft + carousel.clientWidth === carousel.scrollWidth &&
          move
        ) {
          carousel.scrollTo({
            left: 0,
            behavior: "smooth",
          });
        } else if (carousel.scrollLeft === 0 && !move) {
          carousel.scrollTo({
            left: carousel.scrollWidth,
            behavior: "smooth",
          });
        } else {
          carousel.scrollTo({
            left: move
              ? carousel.scrollLeft + slideWidth
              : carousel.scrollLeft - slideWidth,
            behavior: "smooth",
          });

          setTimeout(() => {
            autoAlignSlide();
          }, 500);
        }
      }

      function autoAlignSlide() {
        const scrollLeft = carousel.scrollLeft;
        const currentSlide = Math.round(scrollLeft / slideWidth);
        carousel.scrollTo({
          left: currentSlide * slideWidth,
          behavior: "smooth",
        });
      }

      function resetAutoScroll() {
        if (autoScroll) clearInterval(autoScroll);

        autoScroll = setInterval(() => {
          nextSlide();
        }, 5000);
      }

      resetAutoScroll();
    }
  }

  customElements.define("industry-section", IndustrySection);
</script>
