---
import siteInfoJson from "@data/site-info.json";

interface Props {
  slug?: string;
}

const { slug } = Astro.props as Props;
---

<contact-us-form class="relative" data-email={siteInfoJson.emailUrl}>
  <form id="form" class="space-y-4">
    {slug && <input name="slug" type="hidden" value={slug} />}
    <input
      class="text-2xl w-full border-2 px-2 py-1"
      name="name"
      required
      placeholder="*Name"
    />
    <input
      class="text-2xl w-full border-2 px-2 py-1"
      name="companyName"
      placeholder="Company Name"
    />
    <input
      class="text-2xl w-full border-2 px-2 py-1"
      name="email"
      type="email"
      required
      placeholder="*Email"
    />
    <input
      class="text-2xl w-full border-2 px-2 py-1"
      name="telephone"
      placeholder="Tel/WhatsApp"
    />
    <textarea
      class="text-2xl w-full border-2 px-2 py-1"
      name="message"
      required
      placeholder="*Message"></textarea>

    <button
      type="submit"
      class="px-16 relative text-white text-xl py-4 bg-primary transition hover:bg-background"
    >
      <div
        id="loader"
        class="hidden place-items-center bg-primary absolute left-0 top-0 w-full h-full"
      >
        <div class="loader"></div>
      </div>
      Submit
    </button>
  </form>
</contact-us-form>

<script>
  class ContactUsForm extends HTMLElement {
    constructor() {
      super();

      const emailUrl = this.dataset.email;
      const form = this.querySelector("form")!;
      const btn = this.querySelector<HTMLButtonElement>("button")!;
      const loader = this.querySelector("#loader")!;

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        btn.disabled = true;
        btn.classList.add("opacity-50");
        loader.classList.remove("hidden");
        loader.classList.add("grid");

        const formData = new FormData(form);
        const body = Object.fromEntries(formData);

        try {
          const response = await fetch(emailUrl ?? "", {
            method: "POST",
            body: JSON.stringify(body),
          });

          const data = await response.json();

          if (data.success) {
            form.reset();
            alert("Thank you for contacting us!");
          } else {
            alert("Something went wrong. Please try again later.");
          }
        } catch (e) {
          alert("Something went wrong. Please try again later.");
        }

        btn.disabled = false;
        btn.classList.remove("opacity-50");
        loader.classList.add("hidden");
        loader.classList.remove("grid");
      });
    }
  }

  customElements.define("contact-us-form", ContactUsForm);
</script>
