---
import { Icon } from "astro-icon";
---

<section class="flex justify-between flex-wrap items-center font-abel">
  <p class="w-full text-4xl lg:w-1/4">Product Search:</p>
  <div class="flex border-2 w-full lg:w-3/4">
    <input
      class="flex-1 p-2 text-lg outline-none"
      placeholder="Enter product name or model"
    />
    <button class="px-3 block bg-blue-500">
      <Icon class="h-6 w-6 text-white" name="mdi:magnify" />
    </button>
  </div>
</section>
