---
import HeroSection from "@components/landing-page/HeroSection.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <HeroSection />

  <!-- Advantage Seal -->
  <section class="font-abel container mx-auto pb-24 px-4 lg:px-8">
    <!-- Section Header -->
    <header class="pb-24 md:pb-40 lg:pb-56">
      <h1 class="text-center text-[#E14753] text-3xl md:text-4xl lg:text-5xl">
        <span class="relative inline-block translate-x-[5%]">
          <span class="bg-[#DCECF9] absolute w-full h-4 left-0 -bottom-1 z-[-1]"
          ></span>
          <span class="px-4">Advantage Seal</span>
        </span>
        <span
          class="relative inline-block -translate-x-[5%] translate-y-1/2 md:translate-y-[150%]"
        >
          <span class="bg-[#DCECF9] absolute w-full h-4 left-0 -bottom-1 z-[-1]"
          ></span>
          <span class="px-4">The Seal of Quality</span>
        </span>
      </h1>
    </header>

    <!-- Content Section -->
    <section class="text-xl">
      <figure class="flex flex-wrap flex-row-reverse items-center">
        <iframe
          class="h-96 w-full md:px-4 md:w-7/12"
          src="https://www.youtube-nocookie.com/embed/fJ1BHikwkQ0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <figcaption class="w-full mt-8 md:w-5/12">
          <p>
            Advantage Seal can develop and manufacture custom mechanical seals
            depending on our customers' specific needs. Quality, service, and
            delivery are all areas in which we aim to exceed our clients'
            expectations consistently.
          </p>
          <button class="px-6 py-2 mt-12 text-white bg-[#E14753]">
            View our seal line &gt;
          </button>
        </figcaption>
      </figure>
    </section>
  </section>
</Layout>
