---
import LayoutCategory from "@layouts/LayoutCategory.astro";
import resourcesJson from "@data/resources.json";
---

<LayoutCategory
  title="Resources"
  image="/images/resources/banner.webp"
  pageTitle={resourcesJson.pageTitle ?? undefined}
  pageDescription={resourcesJson.pageDescription ?? undefined}
  pageKeywords={resourcesJson.pageKeywords ?? undefined}
>
  <!-- Container -->
  <section class="my-16 max-w-7xl mx-auto px-4 lg:px-8">
    <ul class="grid shadow-xl border grid-cols-2 lg:grid-cols-4">
      {
        resourcesJson.contents.map((item) => {
          return (
            <li class="border transition group">
              <figure class="pt-12 pb-8 relative group-hover:bg-gray-100 group-hover:shadow-xl group-hover:z-[1]">
                <img class="mx-auto" src={item.imageUrl} alt={item.name} />
                <figcaption class="mt-4">
                  <h1 class="text-center text-xl font-bold">{item.name}</h1>
                  <a
                    class="absolute top-0 left-0 h-full w-full z-[1]"
                    href={item.slug ? `/resources/${item.slug}` : item.href}
                  />
                </figcaption>
              </figure>
            </li>
          );
        })
      }
    </ul>
  </section>
</LayoutCategory>
