---
import NewsList from "@components/news/NewsList.astro";
import LayoutCategory from "@layouts/LayoutCategory.astro";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";
---

<LayoutCategory image="/images/news/banner.webp" pageTitle="News" title="News">
  <!-- Container -->
  <section class="mx-auto max-w-7xl mb-16 px-4 lg:px-8">
    <NewsList />
  </section>
</LayoutCategory>
