---
import LayoutCategory from "@layouts/LayoutCategory.astro";
import contactsJson from "@data/contacts.json";
import { Icon } from "astro-icon";
---

<LayoutCategory
  image="/images/contact-us/banner.webp"
  pageTitle="Contact Us"
  title="Contact Us"
>
  <!-- Container -->
  <section class="font-abel mx-auto container px-4 lg:px-8">
    <figure class="flex mt-16 mb-12">
      <div class="w-1/3">
        <img
          class="w-full h-full object-cover"
          src="/images/contact-us/building.webp"
          alt="Asiseals Building"
        />
      </div>
      <figcaption class="w-2/3 pl-16">
        <header>
          <h1 class="text-5xl">Contact Us Now</h1>
        </header>
        <p class="text-lg italic">
          If you would like to have a question then get in touch today, we are
          ready to assist 24/7.
        </p>

        <!-- More Contact Info -->
        <ul class="flex">
          {
            contactsJson.contents.map((contact) => {
              return (
                <li class="w-1/3 p-2">
                  <figure class="border rounded-lg overflow-hidden pt-8 pb-4 px-4">
                    <figcaption>
                      <header>
                        <h2 class="text-3xl font-bold">{contact.message}</h2>
                      </header>
                      <p class="text-2xl py-4">{contact.name}</p>

                      <Icon
                        class="ml-auto w-24 h-24 text-gray-200"
                        name={contact.icon}
                      />
                    </figcaption>
                  </figure>
                </li>
              );
            })
          }
        </ul>
      </figcaption>
    </figure>

    <iframe
      class="w-full mb-16"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d789.3081727230084!2d-88.10655281083582!3d41.676679233751436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e597921299699%3A0x3c2b7466e2661bd5!2sPolymer%20Industries!5e0!3m2!1sen!2sph!4v1679562520006!5m2!1sen!2sph"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</LayoutCategory>
