---
import aboutUsJson from "@data/about-us.json";
import { Icon } from "astro-icon";
---

<certificate-section class="flex items-center">
  <button id="prev-btn">
    <Icon class="h-8 w-8" name="mdi:chevron-left" />
  </button>

  <ul
    id="carousel"
    class="snap-x flex-1 py-4 flex font-xl scroll-smooth overflow-hidden"
  >
    {
      aboutUsJson.certificates.map((certificate) => {
        return (
          <li class="snap-start flex-shrink-0 p-2 w-full md:w-1/3 lg:w-1/5">
            <figure>
              <img src={certificate.imageUrl} alt={certificate.name} />
              <figcaption>
                <h2 class="text-center">{certificate.name}</h2>
              </figcaption>
            </figure>
          </li>
        );
      })
    }
  </ul>

  <button id="next-btn">
    <Icon class="h-8 w-8" name="mdi:chevron-right" />
  </button>
</certificate-section>

<script>
  class CertificateSection extends HTMLElement {
    constructor() {
      super();

      const carousel = this.querySelector<HTMLElement>("#carousel")!;
      const prevBtn = this.querySelector("#prev-btn");
      const nextBtn = this.querySelector("#next-btn");

      let isDown = false;
      let startX: number;
      let scrollLeft: number;

      function nextSlide(move: boolean = true) {
        if (move) {
          carousel?.scrollBy({
            left: 300,
            behavior: "smooth",
          });
        } else {
          carousel?.scrollBy({
            left: -300,
            behavior: "smooth",
          });
        }
      }

      prevBtn?.addEventListener("click", () => {
        nextSlide(false);
      });

      nextBtn?.addEventListener("click", () => {
        nextSlide();
      });

      carousel.addEventListener("mousedown", (event: MouseEvent) => {
        isDown = true;
        startX = event.pageX - carousel.offsetLeft;
        scrollLeft = carousel.scrollLeft;
      });

      carousel.addEventListener("mouseleave", () => {
        isDown = false;
      });

      carousel.addEventListener("mouseup", () => {
        isDown = false;
      });

      carousel.addEventListener("mousemove", (event: MouseEvent) => {
        if (!isDown) return;
        event.preventDefault();
        const x = event.pageX - carousel.offsetLeft;
        const walk = (x - startX) * 3; // scroll-fast
        carousel.scrollLeft = scrollLeft - walk;
      });

      // scroll on swipe
      carousel.addEventListener("touchstart", (event: TouchEvent) => {
        isDown = true;
        startX = event.touches[0].pageX - carousel.offsetLeft;
        scrollLeft = carousel.scrollLeft;
      });

      carousel.addEventListener("touchend", () => {
        isDown = false;
      });

      carousel.addEventListener("touchmove", (event: TouchEvent) => {
        if (!isDown) return;
        event.preventDefault();
        const x = event.touches[0].pageX - carousel.offsetLeft;
        const walk = (x - startX) * 3; // scroll-fast
        carousel.scrollLeft = scrollLeft - walk;
      });
    }
  }

  customElements.define("certificate-section", CertificateSection);
</script>
