---
import BreadCrumbs from "@components/widgets/BreadCrumbs.astro";
import Layout from "./Layout.astro";
import { Img } from "astro-imagetools/components";

type Props = {
  title?: string | null;
  pageTitle?: string | null;
  pageDescription?: string | null;
  pageKeywords?: string | null;
  image: string | null;
  ogImage?: string | null;
  ogTitle?: string | null;
  ogDescription?: string | null;
  ogType?: string | null;
  twitterCardType?: string | null;
  twitterTitle?: string | null;
  twitterDescription?: string | null;
  twitterImage?: string | null;
};

const {
  title,
  pageTitle,
  image,
  pageDescription,
  pageKeywords,
  ogImage,
  ogTitle,
  ogDescription,
  ogType,
  twitterCardType,
  twitterTitle,
  twitterDescription,
  twitterImage,
} = Astro.props as Props;
//use twitter image, if not use og image, if not set twitter image undefined
---

<Layout
  title={pageTitle ?? undefined}
  keywords={pageKeywords ?? undefined}
  description={pageDescription ?? undefined}
  ogImage={ogImage ?? undefined}
  ogTitle={ogTitle ?? undefined}
  ogDescription={ogDescription ?? undefined}
  ogType={ogType ?? undefined}
  twitterCardType={twitterCardType ?? undefined}
  twitterTitle={twitterTitle ?? ogTitle ?? undefined}
  twitterDescription={twitterDescription ?? ogDescription ?? undefined}
  twitterImage={twitterImage ?? ogImage ?? undefined}
>
  <header class="relative max-w-[1920px] mx-auto" title={pageTitle}>
    <div class="h-56">
      <Img
        breakpoints={[320, 1024]}
        preload="webp"
        src={image}
        alt={pageTitle}
      />
    </div>
    <div
      class="absolute w-full top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
    >
      <slot name="banner" />
      {title && <h1 class="text-5xl text-white text-center">{title}</h1>}
    </div>
  </header>

  <!-- Breadcrumbs -->
  <BreadCrumbs />
  <slot />
</Layout>
