---
import NavBar from "@components/nav-bar/NavBar.astro";
import Footer from "@components/Footer.astro";
import siteInfoJson from "@data/site-info.json";

type Props = {
  title?: string;
  description?: string;
  author?: string;
  keywords?: string;
};

const {
  title = siteInfoJson.title,
  description = siteInfoJson.description,
  author = siteInfoJson.author,
  keywords = siteInfoJson.keywords,
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts Abel -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />

    <!-- Website Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Site Information -->
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <NavBar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
